@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
--font-arabic-custom: "Vazirmatn", sans-serif;
}
html, body, #root {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
}

:root:has([lang="ar"]), [lang="ar"] {
  font-family: var(--font-arabic-custom);
}
